#page-contact {
  width: 100%;
  padding-top: 96px;
  animation-name: contact_up;
  animation-duration: 1s;

  @keyframes contact_up {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }


  h1 {
    text-align: center;
    font-size: 48px;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 50%;
    border-bottom: 3px solid $ACCENT-COLOR;
  }

  ul {
    padding-top: 200px;
    margin: 0 auto;
    list-style: none;
    display: flex;
    justify-content: space-between;

    @include pc {
      width: 60%;
    }

    @include sp {
      padding-left: 0;
      padding: 100px 20px;
    }
  }

  a {
    text-decoration: none;
    font-size: 48px;
    color: #000;
  }

  p {
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
  }
}
