#page-works {
  width: 100%;
  padding-top: 96px;

  h2 {
    text-align: center;
    font-size: 32px;
  }

  .under-line {
    text-align: center;
    font-size: 32px;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 50%;
    border-bottom: 3px solid $ACCENT-COLOR;
  }

  .works-content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .content {
    width: 300px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin: 20px;
    padding: 5px;

    a {
      text-decoration: none;
      color: #000;
    }

    &:hover {
      border: 3px solid $ACCENT-COLOR;
    }

    .img {
      margin: 10px;
      width: calc(100% - 20px);
      height: 200px;
      object-fit: cover;
      overflow: hidden;
      object-position: 0 0;
    }

    .title {
      font-size: 18px;
      margin: 0 20px;
    }

    .description {
      font-size: 18px;
      margin: 10px;
    }

    .date {
      text-align: right;
    }
  }
}
