@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

$ACCENT-COLOR: #32c2ff;
$WHITE: #ffffff;
$FULL-TEXT: 12vw;
$BIG-TEXT: 10vw;
$NORMAL-TEXT: 3.75vw;

@mixin pc {
  @media (min-width: 761px) {
    @content;
  }
}

@mixin sp {
  @media (max-width: 760px) {
    @content;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes disapia {
  from {
    height: 25%;
  }
  to {
    height: 0;
  }
}

body {
  font-family: 'Noto Sans', 'Quicksand', serif;
  margin: 0;
  padding: 0;
}

.header-menue-wrapper {
  position: fixed;
  width: 100%;
  height: 96px;
  left: 0px;
  top: 0px;

  background: $ACCENT-COLOR;
}

.header-menue {
  line-height: normal;
  text-align: center;
  list-style: none;
  display: flex;
  justify-content: space-between;

  a {
    color: $WHITE;
    text-decoration: none;
    padding-right: 10px;
    @include pc {
      transition: all 0.5s ease 0s;
    }

    &.active {
      border-bottom: 3px solid $WHITE;
    }

    @include pc {
      &:hover {
        border: 2px solid $WHITE;
        border-radius: 10%;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
      }
    }
  }

  @include pc {
    .top-link {
      padding-right: 200px;
      a {
        padding: 0 20px;
      }
    }
    font-size: 24px;
  }

  @include sp {
    font-size: 18px;
  }
}

@import 'styles/top_page';
@import 'styles/works_page';
@import 'styles/about_page';
@import 'styles/contact_page';
