@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

$ACCENT-COLOR: #32c2ff;
$WHITE: #ffffff;
$FULL-TEXT: 12vw;
$BIG-TEXT: 10vw;
$NORMAL-TEXT: 3.75vw;

@mixin pc {
  @media (min-width: 761px) {
    @content;
  }
}

@mixin sp {
  @media (max-width: 760px) {
    @content;
  }
}

body {
  margin: 0;
  padding: 0;
  // 仮置き
  background-color: $ACCENT-COLOR;
}

#page-top {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;

  background-size: cover;
  background-color: $ACCENT-COLOR;
}

#page-top {
  .title {
    color: $WHITE;
  }

  .sub-title {
    color: $ACCENT-COLOR;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
  }

  .site-icon {
    color: $WHITE;
  }

  @include pc {
    .title {
      position: absolute;
      top: 30%;
      font-size: $FULL-TEXT;
      text-align: center;
    }

    .sub-title {
      position: absolute;
      top: 60%;

      font-size: $BIG-TEXT;
      text-align: center;
    }

    .site-icon {
      position: absolute;
      left: 60%;
      bottom: 20%;
      font-size: 5vw;
    }

    .menue-wrapper {
      position: absolute;
      left: 50%;
      bottom: 10%;
    }

    .menue {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      a {
        font-size: $NORMAL-TEXT;
        line-height: normal;
        text-align: center;
        text-decoration: none;
        padding: 20px;

        color: $WHITE;
      }
    }
  }

  @include sp {
    .title-text {
      font-size: 48px;
      text-align: center;
      position: absolute;
      top: 40%;
      left: 0;
      right: 0;
      margin: auto;
    }

    .site-icon {
      width: 100%;
      padding: 54px 0;
      margin: 0;
      position: absolute;
      bottom: 0;
    }

    .menue-wrapper {
      position: absolute;
      width: 100%;
      bottom: 10%;
    }

    .menue {
      display: flex;
      justify-content: space-between;

      a {
        font-size: 24px;
        line-height: normal;
        text-align: center;
        text-decoration: none;
        padding: 5px;

        color: $WHITE;
      }
    }
  }
}

#page-about {
}

#page-contact {
}

#page-works {
}
